@page "/secret"

@inject NavigationManager NavigationManager
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<h1>Welcome to the Dnd Character builder for T&D</h1>

<button @onclick="Errorout">Do NOT push me!!!</button>
<p></p>
<p></p>
<p></p>

@if (variable) {
    <button @onclick="ChangeVariable">Change variable to false</button>
} else {
    <img src="https://www.allaboutbirds.org/guide/assets/photo/300152741-480px.jpg" alt="Raven Image" />
    <button @onclick="ChangeVariable">Change variable to true</button>
}


@code {
    private bool variable = false;

    protected override void OnInitialized() {
    }

    private void ChangeVariable() {
        variable = !variable;
    }

    private void Errorout() {
        throw new Exception("I am an error and should not exist. My existance is meaningless and worth nothing but a monitor........ Help");

    }
}