@page "/secret"

@inject NavigationManager NavigationManager
@using Microsoft.Extensions.Logging;
@rendermode InteractiveServer
@inject ILogger<Secret> logger

<PageTitle>Secret</PageTitle>

<h1>You found A SECRET!!!!</h1>

<button @onclick="Errorout">Do NOT push me!!!</button>
@if (errortrue) {
    <div class="alert alert-warning" role="alert">
        Congrats. You broke it. Now refresh the page, you idiot. Next time, listen to the warnings. 
    </div>
}
<p> </p>
<p> </p>
<p> </p>

@if (variable) {
    <button @onclick="ChangeVariable">Change variable to true</button>
} else {
    <img src="https://www.allaboutbirds.org/guide/assets/photo/300152741-480px.jpg" alt="Raven Image" />
    <button @onclick="ChangeVariable">Change variable to false</button>
}


@code {
    private bool variable = true;
    private bool errortrue = false;

    protected override void OnInitialized() {
    }

    private void ChangeVariable() {
        variable = !variable;
    }

    private void Errorout() {
        //ilogger line here
        logger.LogError("I am an error and should not exist. My existance is meaningless and worth nothing but a monitor........ Help.....");
        errortrue = true;
        StateHasChanged();
        throw new Exception("I am an error and should not exist. My existance is meaningless and worth nothing but a monitor........ Help");
        

    }
}